XTerm.vt100.locale: true
XTerm.vt100.metaSendsEscape: true
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?
XTerm.vt100.translations: #override \n\
    Ctrl <Key>M: maximize() \n\
    Ctrl <Key>R: restore()
    <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)
XTerm.vt100.saveLines: 4096
XTerm.vt100.bellIsUrgent: true
XTerm.vt100.faceName: Liberation Mono:size=10:antialias=false
XTerm.vt100.font: 7x13
XTerm.vt100.faceSize: 8
XTerm.scaleHeight: 1.02

! bg - Background color row
! fg - Text color
! bgalt - Background color alternating row
! hlbg - Background color selected row
! hlfg - Foreground color selected row

rofi.color-enabled: true

! State:                    'bg',     'fg',        'bgalt',         'hlbg',   'hlfg'
!rofi.color-normal: argb:00000F30,  #EEFFFF,  argb:00000F30,  argb:00000F30,  #1088F9
!rofi.color-urgent: argb: 00000026,  #B9AA97,  argb: 00412302,  argb: FFB9AA97,  #412302
!rofi.color-active: argb: 00000026,  #9B5300,  argb: 00041534,  argb: FF412302,  #9B5300

! State:            'background',      'border',    'separator'
!rofi.color-window: argb:D900071F, argb:FF34C3EE,  argb:FF34C3EE

! Dark theme.
rofi.theme: ~/.cache/wal/colors-rofi-dark.rasi

rofi.width: 55
rofi.lines: 8
rofi.columns: 2
rofi.font: GohuFont 14
rofi.bw: 1
rofi.padding: 35
rofi.eh: 1
rofi.separator-style: solid
rofi.hide-scrollbar: true
rofi.show-icons: true
rofi.sort: true
rofi.sidebar-mode: true
rofi.fake-background: screenshots
rofi.cycle: true
rofi.fullscreen: false