! bg - Background color row
! fg - Text color
! bgalt - Background color alternating row
! hlbg - Background color selected row
! hlfg - Foreground color selected row
rofi.color-enabled: true
! State:                 'bg',     'fg',            'bgalt',         'hlbg',    'hlfg'
rofi.color-normal: argb:00000026,  #504FCF,  argb:00000026,  argb:00000026,  #FF511B
!rofi.color-urgent: argb: 00000026,  #B9AA97,  argb: 00412302,  argb: FFB9AA97,  #412302
!rofi.color-active: argb: 00000026,  #9B5300,  argb: 00041534,  argb: FF412302,  #9B5300

! State:             'background',       'border',      'separator'
rofi.color-window: argb:E9000026, argb:E91BD4EF,  argb:E91BD4EF

rofi.width: 55
rofi.lines: 8
rofi.columns: 1
rofi.font: ProggyCleanTTSZ 23
rofi.bw: 4
rofi.padding: 35
rofi.eh: 1
rofi.separator-style: solid
rofi.hide-scrollbar: true
rofi.show-icons: true
rofi.sort: true
rofi.sidebar-mode: false
rofi.fake-background: screenshots
rofi.cycle: true
rofi.fullscreen: false

! Colors used
!#FF511B orange
!#FF1B1B red
!#5DCCFF light blue
!#504E98 purple 1
!#3F3F83 purple 2
!#212369 purple 3
!#327994 dark cyan 1
!#4E6C98 dark cyan 2
!#3F5C83 dark cyan 3
!#214169 dark cyan 4
!#006261 base green 1
!#004241 base green 2
!#8FFFC6 mint green
!#1BD4EF neon cyan
!#000026 base blue