! bg - Background color row
! fg - Text color
! bgalt - Background color alternating row
! hlbg - Background color selected row
! hlfg - Foreground color selected row
rofi.color-enabled: true
! State:                    'bg',     'fg',        'bgalt',         'hlbg',   'hlfg'
rofi.color-normal: argb:00000000,  #DAE3EA,  argb:00000000,  argb:00000000,  #225FBA
!rofi.color-urgent: argb: 00000026,  #B9AA97,  argb: 00412302,  argb: FFB9AA97,  #412302
!rofi.color-active: argb: 00000026,  #9B5300,  argb: 00041534,  argb: FF412302,  #9B5300

! State:            'background',      'border',    'separator'
rofi.color-window: argb:D9000000, argb:FF3B4C56,  argb:FF253036

rofi.width: 55
rofi.lines: 8
rofi.columns: 1
rofi.font: ProggyCleanTTSZ Nerd Font 23
rofi.bw: 1
rofi.padding: 35
rofi.eh: 1
rofi.separator-style: solid
rofi.hide-scrollbar: true
rofi.show-icons: true
rofi.sort: true
rofi.sidebar-mode: false
rofi.fake-background: screenshots
rofi.cycle: true
rofi.fullscreen: false
