! bg - Background color row
! fg - Text color
! bgalt - Background color alternating row
! hlbg - Background color selected row
! hlfg - Foreground color selected row

!rofi.color-enabled: true

! State:                    'bg',     'fg',        'bgalt',         'hlbg',   'hlfg'
!rofi.color-normal: argb:00000F30,  #EEFFFF,  argb:00000F30,  argb:00000F30,  #1088F9
!rofi.color-urgent: argb: 00000026,  #B9AA97,  argb: 00412302,  argb: FFB9AA97,  #412302
!rofi.color-active: argb: 00000026,  #9B5300,  argb: 00041534,  argb: FF412302,  #9B5300

! State:            'background',      'border',    'separator'
!rofi.color-window: argb:D900071F, argb:FF34C3EE,  argb:FF34C3EE

! Dark theme.
!rofi.theme: ~/.cache/wal/colors-rofi-dark.rasi

!rofi.width: 55
!rofi.lines: 8
!rofi.columns: 2
!rofi.font: GohuFont 14
!rofi.bw: 1
!rofi.padding: 35
!rofi.eh: 1
!rofi.separator-style: solid
!rofi.hide-scrollbar: true
!rofi.show-icons: true
!rofi.sort: true
!rofi.sidebar-mode: true
!rofi.fake-background: screenshots
!rofi.cycle: true
!rofi.fullscreen: false

!-------------+
! Rofi config |
!-------------+
! bg - Background color row
! fg - Text color
! bgalt - Background color alternating row
! hlbg - Background color selected row
! hlfg - Foreground color selected row

rofi.color-enabled: true

! State:                    'bg',     'fg',        'bgalt',         'hlbg',   'hlfg'
rofi.color-normal: argb:FF282C34,  #ABB2BF,  argb:FF282C34,  argb:77ABB2BF,  #98C379
rofi.color-urgent: argb:FF282C34,  #BE5046,  argb:FF282C34,  argb:77ABB2BF,  #BE5046
rofi.color-active: argb:FF282C34,  #D19A66,  argb:FF282C34,  argb:77ABB2BF,  #61AFEF

! State:            'background',      'border',    'separator'
rofi.color-window: argb:FF282C34, argb:FF61AFEF,  argb:FFE06C75

rofi.width: 55
rofi.lines: 8
rofi.columns: 2
rofi.font: Iosevka Nerd Font 12
rofi.bw: 2
rofi.padding: 35
rofi.eh: 1
rofi.separator-style: solid
rofi.hide-scrollbar: true
rofi.show-icons: true
rofi.sort: true
rofi.sidebar-mode: true
rofi.fake-background: screenshot
rofi.cycle: true
rofi.fullscreen: false
rofi.window.border-radius: 5